<ion-content [fullscreen]="true">
  <div id="logo">
    <img
      src="https://lh6.googleusercontent.com/GMq5Xd_j1xmzDHWY2n8sSB8JZ_GeXr9V36RwmhTAfPAk2ZgLF7gHoN40C_8epcKABkBUdjnnlUXA2Pmkitc38hFGCX8Tck3NvtBh8PFL6l5KIPmpB7vgVoi2m9_urJSHeLY1XvfI"
    />
  </div>
  <ion-textarea id="nameIn" class="input" placeholder="Name"></ion-textarea>
  <ion-textarea class="input" placeholder="Email"></ion-textarea>
  <ion-textarea class="input" placeholder="Password"></ion-textarea>

  <ion-button id="button" expand="block" color="primary" [routerLink]="['tab2']">Buyer</ion-button>
  <ion-button id="button" expand="block" color="primary" [routerLink]="['seller']">Seller</ion-button>
</ion-content>