<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-img
        src="https://lh3.googleusercontent.com/QnV8PEsg7NchYk_tv5Ms1EPyKJS1oG9dD9lkOA5N_GvIPZP-G6dt8N9hbJhgDx-UCqrxHtpevWY6_5YjbtqjsVpd4O_Jm5KR9PoCZ3F717ltyN88m9dQDMgVJVbO5z2v1yJ-QrcE">
      </ion-img>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-img
        src="https://lh6.googleusercontent.com/kFpdGxw_uEgh4YaY9jrOoVmp1fkVaWHlaFRsqMjbCEZJoOSPRiehGO-2ZuEL2nk8OlpKXd1r3qjuRsyciLQxXNnVkIN9JHpHCRqkhbkKLHnIM_VURTFezlkEUcr2opM6Cj3G_-3J">
      </ion-img>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>