<ion-header [translucent]="true"> </ion-header>
<ion-content class="ion-padding">
  <div id="rectangle"></div>
  <img
    id="back"
    src="https://lh4.googleusercontent.com/J_ryNPLgttOZ-CMOvROu9JMhB1EfgE9SfrKtiVpPba2zVW11oSfQfpM1n1Ql4P8RJDnJkbHlI5qpjg163jKNdWvkYoB9jic_C4YSZQqSIHIta3lDiJS28vnWpinR-rctdpWFSBi6"
    (click)="back()"
  />

  <img
    id="avatar"
    src="https://lh5.googleusercontent.com/wVAXam3YAHgpFCwH5JeRrU_y3i2LYGA7fFdwdfDWkVd7Lirt14UQn7jQL1LOiGonCvvqUYhk25m7dpMIy1XFgqYHUrrh-U3n8htuYYOTu0_s0m5WyJameKY6xXc_EuCGC57-vxwg"
  />
  <ion-icon name="add-circle-outline"></ion-icon>
  <ion-textarea
    class="text"
    placeholder="Delighten Dee"
    id="name"
  ></ion-textarea>
  <ion-label class="text"> Based in:</ion-label>
  <ion-textarea class="text" placeholder="San Jose" id="name"></ion-textarea>

  <!-- <img id="star" src="https://i.ibb.co/bXHcQF4/Group-1.png" /> -->
  <ion-segment
    [(ngModel)]="type"
    (ionChange)="segmentChanged($event)"
    id="segmen"
  >
    <ion-segment-button value="Selling">
      <ion-label class="lab">Selling</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Posts">
      <ion-label class="lab">Posts</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'Posts'">
      <img
        class="posts"
        src="https://lh4.googleusercontent.com/uEzHMaYMn7sopLIppYVY--BuYGJ9bEW3P4ag8Z0ZhTDmVsMVP_osURzC6qDKtA2Miu-Z1WIUrdu_zM3cBCUvD22jJg0lIP5XCRtOFDGU-nHbwKGxEEWd83s-79GGXq0NliLQvztQ"
      />
      <img
        class="posts"
        src="https://lh3.googleusercontent.com/b4tz2uKdK7_5hSHC7Lg5YeGohEOZ_p2TXtcT9ajepwD8xny5liB16Bu5KSY-o3kbf9coS4BVBwiT_nPMvexmjMDZwz5jVHgoWsW3JOLroAd20oobX6Dogi4G02_adQMf_TpL7x0-"
      />
    </ion-list>

    <ion-list *ngSwitchCase="'Selling'">
      <img
        class="pic"
        src="https://lh3.googleusercontent.com/PJu4EpQfyNnQGwbjbN7jsqklv15ngyeKAUvOnB68fXmWPdr67cO09Vggew6cgF9x4Ytu6L2W9bLCq9kcYvCklzJb-BRQJlBl3B7_K36-Jk8aYjb3CFQIEhOg6mqjflRPqKBMaV7l=s0"
      />
    </ion-list>
  </div>
</ion-content>
