<ion-content>
  <ion-searchbar id="search"></ion-searchbar>

  <ion-label id="cat">Categories</ion-label>
  <br />
  <br />

  <div class="scroll">
    <img
      class="button"
      (click)="change()"
      src="https://lh6.googleusercontent.com/FyK9W7KD1iqP5nwkpjdStkEo-cwYMyPwYBe8zz1FRX-mnvDjksIqwaUXAjWD7oUdbACcAXGNsgwnONx_lP-SYfmCZBqhPEqinhltfQqBDidU-QtEEROu11rRbZ0JLoIhqBg1-jYW"
    />

    <img
      class="button"
      src="https://lh4.googleusercontent.com/YchPZn8S40sMyjQD2PMLFSOc6rnT2sXFy1U3CLVatPEZjXwP7ecXyVSrgGZTHjw6ZYlw2as7kNVKFiLMP6wkWsR_C077aqrG4ZiIIxAo8FPwBDjJxEajMM2OTsTrxxeUFFABqSZd"
    />

    <img
      class="button"
      src="https://lh3.googleusercontent.com/XZqAd17adAGTbduuLUnXIlnXuHmHt7UCsrmWs157UcZiTmZFWahEyEy0loRRtfWvBsEgdx5XG3tB6hkFvXafqbyZHGUh6kO7d9ud_Y2hNSGln25GlSzzxiM4LEG7kwcKsAgkUl99"
    />

    <img
      class="button"
      src="https://lh4.googleusercontent.com/zNmlXn1GL_uuYs0kLdjJekkfoahSAJyQ0hK3Zn6ZhWouM-KoLMU1zMz_ogIaep53E2xU0C5VIKkMN_Fd8K-mhLOjq2cLU9XMlu9a5n144cP5fa0vjjflsrodc6X5nBmphMSNFkgn"
    />

    <img
      class="button"
      src="https://lh6.googleusercontent.com/kMbqCDvdfbcSTUXDjRrsgt7ZNZOXUGP1rYEOxN0RC_0JQTlvenY8wt3gLDk363uicgljXy1zvfcyGy2YKb4JWXqzV9VqyGlcwtfAA2aeWUCIq6tz19DIwm9TU_CNVDShL9Svt96U"
    />
  </div>
  <br />

  <ion-label id="title">{{page}}</ion-label>
  <br />
  <br />

  <div class="scrolly">
    <img
      class="farmers"
      src="https://lh4.googleusercontent.com/nmL8zCIi9Mb_hpmGpAJzdBIoY_StAyidGs3CRbDrBCnO_kvK_P24sdCxPC3kxYhjNru8ev7SErh_OPJyUrXwy4rwOMtN4qlFSUxda68z0CjDxQ7qqTuFkHKgNaYYByU2hnjfxXXK"
    />

    <br />

    <img
      class="farmers"
      src="https://lh6.googleusercontent.com/DaU5W-jC8zJpkMK9RWx8NKFaznnxzIW2JJoefib7of2lOKp4eKeCu1EZXnMJInujywznbKpV3p92s2kVRiNYsSUtCtzmojwGeVSSCZvx_E1vlKS0Y0uQujts7ESMRW16tQ0EE_nM"
      [routerLink]="['profile']"
    />
  </div>
</ion-content>
