ion-content {
  --ion-background-color: #ffebeb;
}
#logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  margin-top: 30px;
}
.input {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c7c7c7;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 10px;
  padding-left: 20px;
}
#button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 310px;
  height: 70px;
  --ion-color-primary: #ea2b2b;
  border-radius: 15px;
  margin-top: 30px;
}
.text {
  display: flex;
  justify-content: center;
}
#link {
  position: absolute;
  color: #2400ff;
  bottom: 130px;
  left: 160px;
}

#account {
  position: absolute;
  bottom: 160px;
  left: 125px;
}

#ema {
  margin-top: 50px;
}
