<ion-content [fullscreen]="true">
  <ion-textarea id="nameIn" class="input" placeholder="First Name"></ion-textarea>
  <ion-textarea class="input" placeholder="Last Name"></ion-textarea>
  <ion-textarea class="input" placeholder="Address"></ion-textarea>
  <ion-textarea class="input" placeholder="City"></ion-textarea>
  <ion-textarea class="input" placeholder="State"></ion-textarea>
  <ion-textarea class="input" placeholder="Zipcode"></ion-textarea>
  <ion-textarea class="input" placeholder="Phone Number"></ion-textarea>
  <ion-textarea class="input" placeholder="E-mail"></ion-textarea>
  <ion-textarea class="input" placeholder="Password"></ion-textarea>

  <ion-button id="button" expand="block" color="primary" [routerLink]="['tab2']">CONTINUE</ion-button>
</ion-content>